<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Moon Stonks | Start Trading</title>
</head>

<body>

    <nav>
        <a home href="/">
            <img src="https://timos.s3.eu-central-1.amazonaws.com/moonstonks/favicon.svg" alt="">
            <b>MoonStonks</b>
        </a>
        <div>
            <a link href="/pricing">Pricing</a>
            <a link active>Start Trading</a>
        </div>
    </nav>

    <div class="hero">
        <h0>Start Trading</h0>
    </div>

    <div class="content">
        <h1 center>Select your Provider</h1>
        <h3 center>Private or Business</h3>

        <br>
        <br>

        <div class="button-wrapper">
            <a href="https://privat.moonstonks.space/login" target="_blank">Private</a>
            <a href="https://business.moonstonks.space/" target="_blank">Business</a>
        </div>
    </div>
</body>

</html>
